.btn-gradiental {
        /* fallback for old browsers */
        background-color: #1b47ad;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background-image: -webkit-linear-gradient(to right, rgba(13, 48, 129), rgba(69, 135, 226, 1));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: linear-gradient(to right, rgb(13, 48, 129), rgba(69, 135, 226, 1))
  }
  .btn-gradiental:hover {
        /* fallback for old browsers */
        background-color: #1b47ad;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background-image: -webkit-linear-gradient(to left, rgba(13, 48, 129), rgba(69, 135, 226, 1));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-image: linear-gradient(to left, rgba(13, 48, 129), rgba(69, 135, 226, 1));
  }

  .bg-grey {
    background-color: #f6f7f9 !important;
  }

  .d8 {
    font-size: calc(0.7rem + 0.1vw);
    font-weight: 15;
    line-height: 1.0;
  }